@charset "UTF-8";
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header ul {
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin-top: 1rem;
}

.title {
  margin-top: 1rem;
}

.titre {
  font-size: 3rem;
  text-align: center;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.message {
  padding: 1rem;
  background-color: rgba(0, 140, 255, 0.2901960784);
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.section {
  margin: 4rem 0;
}

.titre_principal {
  font-family: "calibri";
  margin-bottom: 1rem;
  margin-left: 4.5rem;
  position: relative;
}
.titre_principal::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 100%;
  background: #48567b;
  left: -1rem;
}

header {
  background-color: #000f23;
}
header nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: space-evenly;
}
header ul li {
  margin-left: 1rem;
}
header ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
header .logo {
  color: #fff;
}

p {
  text-align: justify;
}

.eglise {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 3rem;
}
.eglise img {
  border-radius: 0.8rem;
}
.eglise .mission {
  text-align: center;
}
.eglise p {
  text-align: center;
}

.video {
  width: 100%;
  align-content: center;
}

.img_top {
  position: relative;
  margin-top: 2rem;
}
.img_top img {
  border-radius: 0.8rem;
  height: 50vh;
  width: 100%;
  object-fit: cover;
}
.img_top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 3rem;
  transform: translate(-50%, -50%);
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.cont form {
  width: 700px;
  background: #fff;
  border-radius: 10px;
}

form .row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.row .column {
  flex: 1 1 250px;
}

.column .title {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.column .input-box {
  margin: 15px 0;
}

.input-box span {
  display: block;
  margin-bottom: 10px;
}

.input-box input, select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.column .flex {
  display: flex;
  gap: 15px;
}

.flex .input-box {
  margin-top: 5px;
}

.input-box img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
  cursor: pointer;
}

form .btn {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #000f23;
  outline: none;
  border-radius: 6px;
  font-size: 17px;
  color: #000;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.5s;
}

form .btn:hover {
  background: #000f23;
  color: #fff;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 50%;
  text-align: center;
  color: #fff;
  background-color: #000f23;
  transform: translate(50%, 100%);
}
footer p {
  margin: 0;
  text-align: center;
  padding: 1rem;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}
.login::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100vh;
  background: #000f23;
  transform: skew(40deg, 130deg);
}
.login label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.login .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: center;
}
.login .ins_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login input {
  background: none;
  border: 1px solid #000f23;
  width: 300px;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.login .login_btn {
  margin-top: 1.5rem;
  border: 1px solid #000f23;
  padding: 0;
  transition: 0.3s;
  font-size: 1rem;
}
.login .login_btn:hover {
  background: #000f23;
  color: #fff;
  cursor: pointer;
}
.login .cotainer {
  width: 500px;
  height: 500px;
  background: #f5f5f5;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.login .titre {
  font-weight: 600;
  margin-bottom: 2rem;
}
.login .message_text {
  color: red;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.search p {
  margin-bottom: 2rem;
  font-weight: 500;
  text-align: center;
}

.error {
  text-align: center;
  font-weight: 500;
  background: #62cef9;
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.watsapp img {
  width: 50px;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.mains {
  width: 90%;
  margin: 0 auto;
  height: max-content;
  min-height: 200px;
  background-color: #f7f7f7;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.mains .result {
  padding-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mains .result .name {
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mains .temperature img {
  width: 150px;
  filter: drop-shadow(0 10px 50px #555);
}

.mains .temperature figcaption {
  font-size: 3em;
}

.mains .description {
  padding: 10px 0 30px;
  text-align: center;
  font-weight: bold;
}

.mains ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 70%;
}

.mains li {
  background-color: #48567b;
  color: #fff;
  border-radius: 10px;
  padding: 20px 10px;
  font-weight: bold;
  font-size: small;
}

.mains ul li i {
  font-size: 2em;
  margin: 20px 0;
  display: block !important;
}

.mains.error {
  animation: errorEffect 0.3s linear 1;
}

@keyframes errorEffect {
  0% {
    transform: translate(10px, 5px);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(8px, 2px);
  }
  75% {
    transform: translate(-2px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
ul img {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
ul .ups {
  margin-bottom: 20px;
  font-size: 1rem;
}
ul .dow {
  margin-top: 20px;
  font-size: 1rem;
}

/* Products */
:root {
  --first-color: #E3F8FF;
  --second-color: #DCFAFB;
  --third-color: #FFE8DF;
  --accent-color: #FF5151;
  --dark-color: #161616;
}

:root {
  --body-font: "calibri";
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}
body {
  background-color: #fff;
  color: var(--dark-color);
  font-family: var(--body-font);
}

h1 {
  font-size: var(--h1-font-size);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main {
  padding: 2rem 0;
}

.bd-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;
  gap: 2rem;
}

.title-shop {
  position: relative;
  margin: 0 2.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--second-color);
}

.card__img {
  width: 180px;
  height: auto;
  padding: 3rem 0;
  transition: 0.5s;
}

.card__name {
  position: absolute;
  left: -25%;
  top: 0;
  width: 3.5rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  background-color: var(--dark-color);
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.card__icon {
  font-size: 1.5rem;
  color: var(--dark-color);
}

.card__icon:hover {
  color: var(--accent-color);
}

.card__precis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.card_preci {
  font-family: "roboto";
}

.card:hover {
  box-shadow: 0 0.5rem 1rem #D1D9E6;
}

.card:hover .card__name {
  left: 0;
}

#checkout-button {
  padding: 0.7rem 1.2rem;
  border: 1px solid #48567b;
  background: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
}
#checkout-button:hover {
  background: #48567b;
  cursor: pointer;
  color: #fff;
}

footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title-shop {
    margin: 0 5rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Styles généraux pour centrer la section */
.sms {
  display: flex;
  justify-content: center;
  align-items: center; /* Hauteur de la fenêtre */
  margin: 0;
}

/* Style pour le conteneur du formulaire */
.sendform {
  background-color: #fff; /* Fond blanc */
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
  width: 100%;
  max-width: 400px; /* Largeur maximale du formulaire */
}

/* Styles pour les étiquettes */
label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333; /* Couleur du texte */
}

/* Styles pour les champs d'entrée */
input[type=text],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box; /* Inclure padding/border dans la largeur */
}

/* Styles pour le bouton */
.button_sms {
  background-color: #4CAF50; /* Vert */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049; /* Vert légèrement plus foncé */
}

/* Responsive pour petits écrans */
@media (max-width: 500px) {
  .sendform {
    padding: 15px 20px;
  }
  label {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */
